.image img {
    /* width: 116%;
    max-height: 118%; */
    object-fit: cover;
    filter: blur(3px);
}

.image {
    height: 600px;
    width: 1100px;
    position: absolute;
}

h2 {
    margin-top: -5%;
    text-align: center;
    margin-left: 10%;
    font-size: 200%;
    position: relative;
    /* font-style: italic; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: monospace; */
    font-family: 'Courier New', Courier, monospace;
}

.card {
    align-items: center;
    margin-top: 3%;
    margin-left: 15%;
    width: 75%;
    height: 65%;
    background: rgba(124, 101, 58, 0.3);
    backdrop-filter: blur(8px);
    box-shadow: 0 15px 15px rgba(255, 3, 3, 0.1);
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.text {
    width: 80%;
    height: 80%;
    margin-top: 50px;
    margin-left: 90px;
    /* position: absolute; */
}

.card figure {
    margin-top: -100px;
    width: 120px;
    height: 120px;
    margin-top: 3%;
    margin-left: 3%;
}

.img img {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 2%;
    width: 15%;
    height: 20%;
    object-fit: cover;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

.card h3 {
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card p {
    margin-top: 0%;
    margin-left: 30%;
    font-size: 18px;
    color: rgb(68, 41, 41);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section p {
    margin-top: 0%;
    margin-left: 11%;
    font-size: 18px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section h2 {
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}